:root {
    --cl-primary-color: #59368c;
    --cl-secondary-color: #896ab5;
    --cl-light-gray: #ccc;
    --cl-admin-page-width: 1100px;
    --cl-button-radius: 5px;
    --cl-button-x-padding: 10px;
    --cl-button-y-padding: 5px;

    --cl-font-sm: 14px;
    --cl-font-md: 15px;
    --cl-font-lg: 17px;
    --cl-font-xl: 19px;
}

#wpcontent, #wpbody {
    min-height: calc(100vh - var(--wp-admin--admin-bar--height));
}

#wpbody-content {
    min-height: calc(100% - var(--wp-admin--admin-bar--height));
    padding-bottom: 0;
}

.cookie-legit-page-wrapper .hide {
    display: none!important;
}